services:
  frontend:
    build:
      context: ./blog-app   
      dockerfile: Dockerfile
    container_name: blog-frontend
    ports:
      - "3000:3000"   
    depends_on:
      - backend
    volumes:
      - ./blog-app:/app
      - /app/node_modules

  backend:
    build:
      context: ./backend    
      dockerfile: Dockerfile
    container_name: blog-backend
    ports:
      - "5000:5000"   
    volumes:
      - ./backend:/usr/src/app
      - /usr/src/app/node_modules
